* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background: white;
}

.toolbar {
    background: url("images/header_background.jpg") repeat-x scroll 0 0 #000000;
    border-bottom: 1px solid #000000;
    color: #FFFFFF;
    min-height: 30px;
    padding: 10px;
    position: relative;
}

h1 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin: 1px 0 0 10px;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 -1px 1px #000000;
}

h2 {
    background-color: #EAEAEA;
    font-size: 16px;
    padding: 5px;
	margin-bottom: 10px;
}

.input, .select {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #9D9D9D;
    font-size: 15px;
    padding: 3px;
    margin-top: 5px;
    width: 200px;
}

.label_value {
	border: 1px solid #E5E5E5;
	color: #B4B4B4;
    height: 20px;
    margin-top: 5px;
    padding: 4px;
    width: 200px;
}

.site_narrative_notes {
    border: 1px solid #9D9D9D;
    word-wrap: break-word;
}
.select {
    width: 200px
}

label {
    display: block;
}

a, .link {
    color: #DC0000;
	text-decoration: underline;
	cursor: pointer;
}
input.button {
    background: url("images/header_background.jpg") repeat-x scroll left bottom #21759B;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 15px;
    margin-top: -3px;
    padding: 3px 10px;
    text-decoration: none;
    width: auto;
}

.content {
    padding: 10px;
}

p {
    margin-bottom: 16px;
    padding: 0 10px;
}

.tip {
    color: #B5B5B5;
    display: block;
    font-size: 13px;
}
#list_trip  ul{
    padding: 5px;

}
#list_trip ul  li, #site_details_screen ul li {
    list-style-type: none;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #D6D6D6;
    overflow: hidden;
}

#list_trip ul  li span {
    color: #DC0000;
    float: left;
    text-decoration: underline;
    cursor: pointer;
}
#list_trip ul  li span.done {
    float: right;
}

.question {
    margin-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
    padding: 0 10px 10px 10px;
}

/***Loading***/
.black_overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-image: url("images/overlay.png");
}

.white_content {
    position: absolute;
    font-weight: bold;
    padding: 5px;
    z-index: 1002;
    top: 45%;
    left: 38%;
    color: white;
    overflow: auto;
}

.loading {
    display: none;
    position: absolute;
    font-weight: bold;
    padding: 5px;
    top: 45%;
    left: 38%;
    color: white;
    overflow: auto;
}

.back {
    background-image: url("images/back_button_common.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 6px 3px 3px 3px;
    margin-top: -15px;
    font-size: 90%;
    float: left;
    text-align: center;
    text-decoration: none;
    width: 74px;
    height: 21px;
	cursor: pointer;
    /*-webkit-border-image: url(images/back_button.png) 0 8 0 14;
    -moz-border-image: url(images/back_button.png) 0 8 0 14;*/
}

.right {
    font-size: 90%;
    text-align: right;
	padding-bottom: 5px;
}

/*login**/
p.submit {
	text-align: right;
}
#login_screen .content {
	margin: 0 auto;
	width: 200px;
}

/**Grid Style **/
.grid_heading {
	font-weight: bold;
	background-color: #EAEAEA;
    font-size: 16px;
    padding: 5px;
	overflow: hidden;
}
.grid .col1{
	float: left;
	padding: 5px;
    width: 55%;
}
.grid .col2{
	float: left;
	padding: 5px;
    width: 25%;
}
.grid .col3 {
        float: left;
}
.grid_row {
	border-bottom: 1px solid #D6D6D6;
	overflow: hidden;
}

.thumbnail {
	width: 35px;
	height: 35px;
	display: inline;
	float: left;
	margin: 2px;
}

.largebox {
	margin-top: 10px;
	margin-bottom: 40px;
}
